.team_header {
	background-image: url(../assets/images/teamheader.png);
    height: 180px;
    .team_logo {
    	width: 150px;
    	border-radius: 11px;
    	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    }
}